<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CycleProgressBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>233EF86A1FA0894D001D7833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>233EF8831FA0894D001D7833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>233EF88E1FA0894D001D7833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
